@import url('mainbody-media.css');
.main_body {
    height: 80vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body .mainbody_bg {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

.main_left {
    float: left;
    padding: 0 150px;
    margin: 0 -120px 0 0;
    width: 70%;
}

.main_left h1:first-of-type {
    margin: -30px 0 0 0;
    font-size: 5rem;
}

.main_left h1:first-of-type span {
    font-size: 1.7rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0 -10px 0 -22px;
}

.main_left h1:last-of-type {
    margin: 0;
    font-size: 5rem;
}

.label_top {
    font-size: 2rem;
    margin: 0 0 0 8px;
}

.main_left header span {
    font-size: 1.4rem;
    overflow: hidden;
    font-size: 800;
}

.main_left main svg {
    margin: 0 10px 0 0;
}

.main_left main p {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
}

.main_right {
    float: left;
    width: 50%;
    z-index: -1;
}

.main_right img{
    width: 380px; height: auto;
    top: 50%;
    transform: translate(20%, -50%);
    position: absolute;
    transition: width .2s ease, opacity .2s ease-out;
    opacity: .9;
}

.main_right img:first-child {
    margin-left: -200px;
    margin-top: 50px;
}

.main_right img:last-child {
    margin-left: 200px;
    margin-top: 50px;
}

@media only screen and (min-width: 1000px) {
    .main_right img:hover {
        z-index: 2;
        width: calc(385px);
        opacity: 1;
    }   
}