@import url('aboutbody-media.css');
.aboutbody header,
.aboutbody main {
    margin: 100px 0;
    width: 100%;
}

.aboutbody img {
    width: 200px;
    margin: 0 80px;
}

.aboutbody main::after {
    content: "";
    clear: both;
    display: table;
}

.aboutbody_heads {
    width: fit-content;
    margin: 20px 0;
    display: inline-block;
    justify-content: center;
}

.aboutbody_heads p {
    display: flex;
    margin: 0;
    justify-content: center;
    font-size: 1.4rem;
}

.aboutbody_heads p:not(:first-of-type) {
    font-size: .9rem;
    font-weight: 700;
}