@import url('../fonts.css');

* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
}

#app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}