@import url('roleplaybody-media.css');
.roleplaybody {
    height: 80vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.roleplay_left {
    float: left;
    width: 40%;
}

.roleplay_left h1 {
    font-size: 4rem;
    margin: 0;
}

.roleplay_left_text {
    display: grid;
    justify-content: center;
}

.roleplay_right {
    width: 50%;
    float: left;
    padding: 0 100px;
}

.roleplay_right video {
    box-shadow: 0px 8px 20px #00000050;
    width: 600px;
}

.roleplay_right video:first-of-type,
.roleplay_right video:last-of-type {
    position: absolute;
    filter: blur(3px);
    z-index: -1;
}

.roleplay_right video:first-of-type {
    transform: translate(-150px, 150px);
}

.roleplay_right video:last-of-type {
    transform: translate(-350px, -150px);
}

.roleplay_footer {
    height: 60vh; width: 100%;
    overflow-y: hidden;
    background: var(--black);
}

.roleplay_footer header{
    float: left;
    width: 50%;
    display: grid;
    justify-content: center;
    padding: 10px 0;
    margin: 50px 0;
}

.roleplay_footer header svg {
    margin: 0 10px 0 0;
}

.roleplay_footer header p {
    margin: 9px 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
}

.roleplay_footer main{
    float: left;
    width: 50%;
    height: 100%;
    background: url('../../../../img/Homepage/roleplaybody/roleplay_footer.jpg');
    background-position: center;
    background-size: cover;
}

.roleplay_footer header h2 {
    font-size: 2.4rem;
}