@media only screen and (max-width: 1286px) {
    .roleplaybody {
        display: grid !important;
        margin: 30px 0 !important;
    }
    .roleplay_left {
        width: 100%  !important;
        text-align: center;
        padding: 10px;
    }
    .roleplay_right {
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
    }
    .roleplay_right video {
        width: 50% !important;
    }
    .roleplay_right video:first-of-type {
        transform: translate(-160px, 0) !important;
    }
    
    .roleplay_right video:last-of-type {
        transform: translate(-350px, 0) !important;
    }
}

@media only screen and (max-width: 768px) {
    .roleplay_footer header {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .roleplay_footer main {
        display: none;
    }
    .roleplay_right video {
        width: 100% !important;
    }
    .roleplay_right video:first-of-type {
        display: none;
    }
    .roleplay_right video:last-of-type {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .roleplay_right h1 {
        font-size: 15vw !important;
    }
}