@import url('nav-media.css');
.nav_home {
    position: relative;
    height: 130px;
    z-index: 99;
}

.nav_home_left {
    display: contents;
    float: left;
}

.nav_home_left img {
    margin: 20px;
    height: 100px;
}

.nav_home_right {
    float: right;
    height: fit-content;
    width: fit-content;
    padding: 40px 30px;
    font-size: 1.4rem;
    border-radius: 0 0 0 150px;
    background: var(--darkviolet);
    font-weight: 600;
}

.nav_home_right a {
    padding: 0 20px;
}

.nav_home_right .nav_home_dropdown_arrow span {
    display: inline-block;
    background: var(--white);
    height: 2px;
    width: 12px;
}

.nav_home_right .nav_home_dropdown_arrow span:first-child {
    transform: translate(-8.1px, -7px) rotate(-30deg);
}

.nav_home_right .nav_home_dropdown_arrow span:last-child {
    transform: translate(-10.1px, -7px) rotate(30deg);
}

.network:hover > .nav_home_dropdownmenu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.nav_home_dropdownmenu {
    margin: 0 0 0 100px;
    padding: 0 20px;
    background: var(--violet);
    box-shadow: 0px 4px 9px #0000005b;
    opacity: 0;
    pointer-events: none;
    transition: transform .1s linear, opacity .1s ease-out;
    transform: translateY(-10px);
}

.nav_home_right a svg {
    transform: translateY(5px);
}

.nav_home_socials_hover:hover > .nav_home_socials_menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-10px);
}

.nav_home_socials_menu {
    right: 23px;
    margin: 10px 0;
    display: grid;
    justify-content: center;
    background: var(--violet);
    box-shadow: 0px 4px 9px #0000005b;
    padding: 10px 20px;
    opacity: 0;
    pointer-events: none;
    transition: transform .1s ease-out, opacity .1s ease-out;
    transform: translateY(-20px);
}

.nav_home_socials_menu svg {
    margin: 10px 0;
}
